body {
    font-family: Arial, sans-serif;
}
@keyframes changeColors {
    0% {
      background-color: rgba(255, 253, 208, 0.1); /* Light cream */
    }
    25% {
      background-color: rgba(255, 253, 208, 0.25); /* Medium light cream */
    }
    50% {
      background-color: rgba(255, 253, 208, 0.5); /* Medium cream */
    }
    75% {
      background-color: rgba(255, 253, 208, 0.75); /* Medium dark cream */
    }
    100% {
      background-color: rgba(255, 253, 208, 1); /* Dark cream */
    }
  }
  
  
    body {
      animation: changeColors 10s infinite;
    }
.container {
    text-align: center;
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}
